    body {
        background: rgba(217, 224, 229, 0.36);
    }
    .nav-side-menu li {
        background: linear-gradient(to bottom, #f2f5f7 0%,#d7dee3 51%,#f6f8f9 100%,#f6f8f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f7', endColorstr='#f6f8f9',GradientType=0 );
    outline: none;
        color: #000000;
    }
    .nav-side-menu li a {
        color: #000000;
    }

    /*FORMS*/
.h3-label-form {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding-top: 13px;
    font-size: 34px;
    padding-bottom: 8px;
    border-bottom: 2px solid #e5f3ff;
}

.sub-menu li {
    background: rgb(40, 162, 210)!important;
        color: #fff;
}
.sub-menu li a {
    color: #fff;
    display: inline-block;
    width: 97%;
}
.back a {
        display: inline-block;
    width: 96%;
}
.nav-side-menu {
    position:inherit;
    width: 100%;
}
#footer {
    margin-left: 0;
    margin-bottom: 90px;
}
.body-content {
    width: 100%!important;
}
.nav-side-menu .brand {
    font-size: 27px;
}
/*FORMS*/