@model PropertyAgency.Models.ViewModels.Landlord.LandlordsViewModel

@{
    ViewBag.Title = "Landlords";
}

<h2>Landlords</h2>

<div class="table table-bordered table-responsive table-striped">
    <table class="table table-responsive">
        <thead>
            @*TODO: SHOULD CHANGE CLASSES NAMES*@
            <tr>
                <th>Id</th>
                <th class="full-address">Име</th>
                <th class="apartment-size">Телефон</th>
                <th class="number-of-rooms">Животни?</th>
                <th class="number-of-rooms">Edit</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var landlord in Model.Landlords)
            {
                <tr>
                    <td class="number-of-rooms">&nbsp;@landlord.Id</td>
                    <td>@landlord.FullName</td>
                    <td class="full-address">&nbsp;@landlord.PhoneNumber</td>
                    <td class="apartment-size">&nbsp;@landlord.IsAcceptingAnimals</td>
                    <td><a href="../../EditLandlord/@landlord.Id">Edit</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>