@model PropertyAgency.Models.ViewModels.Property.ShowPropertiesViewModel

@{
    ViewBag.Title = "Properties";
}

<h2>Имоти под наем (Properties for Rent)</h2>

@Html.Partial("_ShowPropertiesPartial", Model)