@model PropertyAgency.Models.ViewModels.Property.ShowPropertiesViewModel

@{
    ViewBag.Title = "Sale";
}

<h2>Имоти за продажба(Properties for Sale)</h2>

@Html.Partial("_ShowPropertiesPartial", Model)
