@model PropertyAgency.Models.ViewModels.Property.ShowPropertiesViewModel

@{
    ViewBag.Title = "Sale";
}

<h2 class="header-properties" >Properties for Sale</h2>

@Html.Partial("_ShowPropertiesPartial", Model)


<div class="text-center pagination-margin-bot">


    @if (Model.Pager.EndPage > 1)
    {

        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li>
                    <a href="~/Properties/Show/Sale">First</a>
                </li>
                <li>
                    <a href="~/Properties/Show/Sale?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                </li>
            }

            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                    <a href="~/Properties/Show/Sale?page=@page">@page</a>
                </li>    }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li>
                    <a href="~/Properties/Show/Sale?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                </li>
                <li>
                    <a href="~/Properties/Show/Sale?page=@(Model.Pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>