@model PropertyAgency.Models.ViewModels.Tenant.TenantsViewModel

@{
    ViewBag.Title = "Tenants";
}

<h2>Tenants</h2>

<div class="table table-bordered table-responsive table-striped">
    <table class="table table-responsive">
        <thead>
            @*TODO: SHOULD CHANGE CLASSES NAMES*@
            <tr>
                <th>Id</th>
                <th class="full-address">Име</th>
                <th class="apartment-size">Телефон</th>
                <th class="number-of-rooms">Какво желае клиента</th>
                <th class="number-of-rooms">Edit</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var tenant in Model.Tenants)
            {
                <tr>
                    <td class="number-of-rooms">&nbsp;@tenant.Id</td>
                    <td>@tenant.FullName</td>
                    <td class="full-address">&nbsp;@tenant.PhoneNumber</td>
                    <td class="apartment-size">&nbsp;@tenant.Description</td>
                    <td><a href="../../Edit/@tenant.Id">Edit</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>