@using Microsoft.AspNet.Identity

    @if (Request.IsAuthenticated)
    {
        <li class="user-color">
            <i class="glyphicon glyphicon-user"></i>  @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <li class="nav navbar-nav navbar-right">
            <li><i class="glyphicon glyphicon-log-out"></i> <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </li>
        }
        
    }
    else
    {
        <li class="nav navbar-nav navbar-right">
        <li><i class="glyphicon glyphicon-log-in"></i>  @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </li>
    }
