@model PropertyAgency.Models.ViewModels.Property.ShowPropertiesViewModel

@{
    ViewBag.Title = "_ShowPropertiesPartial";
}


<div class="table table-bordered">
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>Снимки</th>
                <th>Пълен Адрес</th>
                <th>Големина на имота</th>
                <th>Брой стаи</th>
                <th>Свободен?</th>
                <th>Цена</th>
                <th>Име на собственика</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var property in Model.PropertyInfoViewModels)
            {
                <tr>
                    <td><img class="img-rounded" src="@property.UrlPicture" width="150" height="150" /></td>
                    <td>&nbsp;@property.FullAddress</td>
                    <td>&nbsp;@property.ApartmentSize кв.м</td>
                    <td>&nbsp;@property.NumberOfRooms</td>
                    <td>&nbsp;@property.IsActive</td>
                    <td>&nbsp;@property.Price лв.</td>
                    <td>&nbsp;@property.LandlordName</td>
                    @*<td>@Html.ActionLink("Edit", "Edit", "Edit", new {id = property.Id})</td>*@
                    <td><a href="../../Edit/@property.Id">Edit</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>