@model PropertyAgency.Models.ViewModels.Property.ShowPropertiesViewModel

@{
    ViewBag.Title = "_ShowPropertiesPartial";
}


<div class="table table-bordered">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Снимки</th>
                <th class="full-address">Пълен Адрес</th>
                <th class="apartment-size">Големина на имота</th>
                <th class="number-of-rooms">Брой стаи</th>
                <th class="property-isActive">Свободен?</th>
                <th class="price" >Цена</th>
                <th class="landlord-name" >Име на собственика</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var property in Model.PropertyInfoViewModels)
            {
                <tr>
                    <td><img class="img-rounded" src="@property.UrlPicture" width="150" height="150" /></td>
                    <td class="full-address">&nbsp;@property.FullAddress</td>
                    <td class="apartment-size">&nbsp;@property.ApartmentSize кв.м</td>
                    <td class="number-of-rooms">&nbsp;@property.NumberOfRooms</td>
                    <td class="property-isActive">&nbsp;@property.IsActive</td>
                    <td class="price">&nbsp;@property.Price лв.</td>
                    <td class="landlord-name">&nbsp;@property.LandlordName</td>
                    @*<td>@Html.ActionLink("Edit", "Edit", "Edit", new {id = property.Id})</td>*@
                    <td><a href="../../Edit/@property.Id">Edit</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>