@model PropertyAgency.Models.ViewModels.Property.ShowPropertiesViewModel

@{
    ViewBag.Title = "_ShowPropertiesPartial";
}


<div class="table table-bordered">
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Снимки</th>
            <th class="full-address">Full Address</th>
            <th class="apartment-size">Apartment Size</th>
            <th class="number-of-rooms">Number of rooms</th>
            <th class="property-isActive">Is Available?</th>
            <th class="price">Price</th>
            <th class="landlord-name">Landlord</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var property in Model.PropertyInfoViewModels)
        {
            if (property.IsActive)
            {
            <tr style="background: #38c938;">
                <td><img class="img-rounded" src="@property.UrlPicture" width="150" height="150"/></td>
                <td class="full-address">&nbsp;@property.FullAddress</td>
                <td class="apartment-size">&nbsp;@property.ApartmentSize кв.м</td>
                <td class="number-of-rooms">&nbsp;@property.NumberOfRooms</td>
                <td class="property-isActive">&nbsp;@property.IsActive</td>
                <td class="price">&nbsp;@property.Price лв.</td>
                <td class="landlord-name">&nbsp;@property.LandlordName</td>
                <td>
                    <a href="../../EditProperty/@property.Id">Edit</a> |
                    <a href="../../DeleteProperty/@property.Id">Delete</a>
                </td>
            </tr>
            }
            else
            {
                <tr style="background: red;">
                    <td><img class="img-rounded" src="@property.UrlPicture" width="150" height="150" /></td>
                    <td class="full-address">&nbsp;@property.FullAddress</td>
                    <td class="apartment-size">&nbsp;@property.ApartmentSize кв.м</td>
                    <td class="number-of-rooms">&nbsp;@property.NumberOfRooms</td>
                    <td class="property-isActive">&nbsp;@property.IsActive</td>
                    <td class="price">&nbsp;@property.Price лв.</td>
                    <td class="landlord-name">&nbsp;@property.LandlordName</td>
                    <td>
                        <a href="../../EditProperty/@property.Id">Edit</a> |
                        <a href="../../DeleteProperty/@property.Id">Delete</a>
                    </td>
                </tr>
            }
        }

        </tbody>
    </table>
</div>